<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Googo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/TestDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  
  <servlet>
    <display-name>RegisterCompany</display-name>
    <servlet-name>RegisterCompany</servlet-name>
    <servlet-class>com.company.controller.RegisterCompany</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterCompany</servlet-name>
    <url-pattern>/Company.Register</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <display-name>UpdateCompany</display-name>
    <servlet-name>UpdateCompany</servlet-name>
    <servlet-class>com.company.controller.UpdateCompany</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCompany</servlet-name>
    <url-pattern>/Company.Update</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.search.controller.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet.do</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
    <servlet-name>Insert</servlet-name>
    <servlet-class>com.orders.controller.OrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Insert</servlet-name>
    <url-pattern>/Insert.gg</url-pattern>
  </servlet-mapping>

 <servlet>
    <servlet-name>Select</servlet-name>
    <servlet-class>com.orders.controller.OrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Select</servlet-name>
    <url-pattern>/Select.gg</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>fakeDataTest</servlet-name>
    <servlet-class>com.orders.controller.fakeData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fakeDataTest</servlet-name>
    <url-pattern>/fakeData.gg</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>onLoadDAO</servlet-name>
    <servlet-class>com.orders.controller.onLoad</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>onLoadDAO</servlet-name>
    <url-pattern>/orderOnLoad.gg</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Delete</servlet-name>
    <servlet-class>com.orders.controller.OrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/Delete.gg</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.login.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login.gg</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DesignAccessDB</servlet-name>
    <servlet-class>com.template.controller.Prototype_OrderTemp_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DesignAccessDB</servlet-name>
    <url-pattern>/DesignAccessDB</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GetAccessory</servlet-name>
    <servlet-class>com.template.model.Accessory_Retrieval</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAccessory</servlet-name>
    <url-pattern>/GetAccessory</url-pattern>
  </servlet-mapping>
  
</web-app>