<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Googo</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/TestDB</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

	<!-- Begin: 商家註冊修改相關 -->
	<servlet>
		<display-name>RegisterCompany</display-name>
		<servlet-name>RegisterCompany</servlet-name>
		<servlet-class>com.company.controller.RegisterCompany</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterCompany</servlet-name>
		<url-pattern>/Company.Register</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>UpdateCompany</display-name>
		<servlet-name>UpdateCompany</servlet-name>
		<servlet-class>com.company.controller.UpdateCompany</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateCompany</servlet-name>
		<url-pattern>/Company.Update</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>ShowImage</display-name>
		<servlet-name>ShowImage</servlet-name>
		<servlet-class>com.company.controller.ShowImage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowImage</servlet-name>
		<url-pattern>/image</url-pattern>
	</servlet-mapping>

	<!-- End: 商家註冊修改相關 -->

	<!-- Begin: 搜尋相關 -->
	<servlet>
		<display-name>ShowProdsImage</display-name>
		<servlet-name>ShowProdsImage</servlet-name>
		<servlet-class>com.comFirstPage.controller.ShowProdsImage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowProdsImage</servlet-name>
		<url-pattern>/ComFirstPageImg</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>SearchServlet</display-name>
		<servlet-name>SearchServlet</servlet-name>
		<servlet-class>com.search.controller.SearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchServlet</servlet-name>
		<url-pattern>/SearchServlet.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>DispComFirstPage</display-name>
		<servlet-name>DispComFirstPage</servlet-name>
		<servlet-class>com.comFirstPage.controller.DispComFirstPage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DispComFirstPage</servlet-name>
		<url-pattern>/DispComFirstPage.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>ShowAccsImage</display-name>
		<servlet-name>ShowAccsImage</servlet-name>
		<servlet-class>com.comFirstPage.controller.ShowAccsImage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowAccsImage</servlet-name>
		<url-pattern>/ShowAccsPicturs.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>IndexPlaceRecommend</display-name>
		<servlet-name>IndexPlaceRecommend</servlet-name>
		<servlet-class>com.search.controller.IndexPlaceRecommend</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IndexPlaceRecommend</servlet-name>
		<url-pattern>/PlaceRecommend.do</url-pattern>
	</servlet-mapping>	
	<servlet>
		<display-name>ContactUs</display-name>
		<servlet-name>ContactUs</servlet-name>
		<servlet-class>com.company.controller.ContactUs</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ContactUs</servlet-name>
		<url-pattern>/ContactUs.do</url-pattern>
	</servlet-mapping>
	<!-- End: 搜尋相關 -->

	<!-- Begin: 訂單相關 -->
	<servlet>
		<servlet-name>ActionCom</servlet-name>
		<servlet-class>com.orders.controller.OrdersActionCom</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ActionCom</servlet-name>
		<url-pattern>/ActionCom.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ActionMem</servlet-name>
		<servlet-class>com.orders.controller.OrdersActionMem</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ActionMem</servlet-name>
		<url-pattern>/ActionMem.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PlaceOrder</servlet-name>
		<servlet-class>com.orders.controller.placeOrdSetAttr</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PlaceOrder</servlet-name>
		<url-pattern>/PlaceOrder.do</url-pattern>
	</servlet-mapping>
	<!-- End: 訂單相關 -->

	<!--prod manage -->
	<servlet>
		<servlet-name>prod</servlet-name>
		<servlet-class>com.products.controller.ProductServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>prod</servlet-name>
		<url-pattern>/prod.in</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>prodShow</servlet-name>
		<servlet-class>com.products.controller.ProductOnload</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>prodShow</servlet-name>
		<url-pattern>/prod.show</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>prodDelete</servlet-name>
		<servlet-class>com.products.controller.ProductServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>prodDelete</servlet-name>
		<url-pattern>/prod.delete</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>prodEdit</servlet-name>
		<servlet-class>com.products.controller.ProductEdit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>prodEdit</servlet-name>
		<url-pattern>/prod.edit</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>ShowProdsImageForCom</display-name>
		<servlet-name>ShowProdsImageForCom</servlet-name>
		<servlet-class>com.comFirstPage.controller.ShowProdsImageForCom</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowProdsImageForCom</servlet-name>
		<url-pattern>/ProdImg</url-pattern>
	</servlet-mapping>
	<!-- end: prod manage -->


	<!-- Begin: ACC相關 -->
	<servlet>
		<servlet-name>acc</servlet-name>
		<servlet-class>com.products.controller.AccInsert</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>acc</servlet-name>
		<url-pattern>/acc.in</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AccOnload</servlet-name>
		<servlet-class>com.products.controller.AccOnload</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccOnload</servlet-name>
		<url-pattern>/acc.show</url-pattern>
	</servlet-mapping>

	<!-- end: ACC manage -->

	<!-- Begin: 登入相關 -->
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.login.controller.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login.do</url-pattern>
	</servlet-mapping>
	<!-- End: 登入相關 -->

	<!-- Begin: 設計器相關 -->
	<servlet>
		<servlet-name>DesignAccessDB</servlet-name>
		<servlet-class>com.template.controller.Prototype_OrderTemp_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DesignAccessDB</servlet-name>
		<url-pattern>/DesignAccessDB</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GetAccessory</servlet-name>
		<servlet-class>com.template.model.Accessory_Retrieval</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetAccessory</servlet-name>
		<url-pattern>/GetAccessory</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LoadDesign</servlet-name>
		<servlet-class>com.template.model.Design_Retrieval</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoadDesign</servlet-name>
		<url-pattern>/LoadDesign</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SimAddOrder</servlet-name>
		<servlet-class>com.template.controller.OrderSimulationInsert</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SimAddOrder</servlet-name>
		<url-pattern>/SimAddOrder</url-pattern>
	</servlet-mapping>
	<!-- End: 設計器相關 -->

	<!-- Begin: 會員註冊修改相關 -->
	<servlet>
		<servlet-name>MemServlet</servlet-name>
		<servlet-class>com.member.controller.MemServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemServlet</servlet-name>
		<url-pattern>/member.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CheckAccountServlet</servlet-name>
		<servlet-class>com.member.controller.CheckAccountServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckAccountServlet</servlet-name>
		<url-pattern>/CheckAccountServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ActivateAccount</servlet-name>
		<servlet-class>com.member.controller.ActivateAccountServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ActivateAccount</servlet-name>
		<url-pattern>/ActivateAccount</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ActivateCompanyAccount</servlet-name>
		<servlet-class>com.company.controller.ActivateCompanyAccount</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ActivateCompanyAccount</servlet-name>
		<url-pattern>/CActivateAccount</url-pattern>
	</servlet-mapping>
	<!-- End: 會員註冊修改相關 -->
	<!-- Begin: 車輛調度相關 -->
	<servlet>
		<servlet-name>Scheduler</servlet-name>
		<servlet-class>com.scheduler.controller.DisplayServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Scheduler</servlet-name>
		<url-pattern>/scheduler</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>schedulerSearchCar</servlet-name>
		<servlet-class>com.scheduler.controller.SearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>schedulerSearchCar</servlet-name>
		<url-pattern>/schedulerSearchCar</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>schedulerServlet</servlet-name>
		<servlet-class>com.scheduler.controller.SchedulerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>schedulerServlet</servlet-name>
		<url-pattern>/schedulerServlet</url-pattern>
	</servlet-mapping>
	<!-- End: 車輛調度相關 -->
	<!-- Begin: 忘記密碼相關 -->
	<servlet>
		<servlet-name>ForgetPwd</servlet-name>
		<servlet-class>com.forgetpwd.controller.ForgetPwdServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ForgetPwd</servlet-name>
		<url-pattern>/forgetpwd.gg</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Link</servlet-name>
		<servlet-class>com.forgetpwd.controller.LinkServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Link</servlet-name>
		<url-pattern>/resetpwd.gg</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ResetPwd</servlet-name>
		<servlet-class>com.forgetpwd.controller.ResetPwdServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResetPwd</servlet-name>
		<url-pattern>/link</url-pattern>
	</servlet-mapping>
	<!-- End: 忘記密碼相關 -->
	<!-- Begin: 報表分析相關 -->
	<servlet>
		<servlet-name>manage</servlet-name>
		<servlet-class>com.statistics.controller.DataServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>manage</servlet-name>
		<url-pattern>/manage</url-pattern>
	</servlet-mapping>
	<!-- End: 報表分析相關 -->
	<!-- Begin: Filter設定 -->
	<filter>
		<display-name>LoginMemFilter</display-name>
		<icon />
		<filter-name>LoginMemFilter</filter-name>
		<filter-class>com.login.filter.LoginMemFilter</filter-class>
		<!-- <init-param> <param-name>mustMemLogin1</param-name> <param-value>/_04_member/*</param-value> 
			</init-param> -->
		<init-param>
			<param-name>mustMemLogin2</param-name>
			<param-value>/PlaceOrder.do</param-value>
		</init-param>
		<init-param>
			<param-name>mustMemLogin3</param-name>
			<param-value>/_04_member/orderMem.jsp</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>LoginMemFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<display-name>LoginComFilter</display-name>
		<icon />
		<filter-name>LoginComFilter</filter-name>
		<filter-class>com.login.filter.LoginComFilter</filter-class>
		<init-param>
			<param-name>mustComLogin1</param-name>
			<param-value>/_06_manage/*</param-value>
		</init-param>
		<init-param>
			<param-name>mustComLogin2</param-name>
			<param-value>/_05_company/orderCom.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>mustComLogin3</param-name>
			<param-value>/manage.jsp</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>LoginComFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<display-name>FindUserPassword</display-name>
		<filter-name>FindUserPassword</filter-name>
		<filter-class>com.login.filter.FindUserPassword</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>FindUserPassword</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<security-constraint>
    <web-resource-collection>
        <web-resource-name>Googo</web-resource-name>
        <url-pattern>/Login.gg</url-pattern>
		<url-pattern>/Company.Register</url-pattern>
		<url-pattern>/Company.Update</url-pattern>
		<url-pattern>/member.do</url-pattern>
		<url-pattern>/ActivateAccount</url-pattern>
		<url-pattern>/CActivateAccount</url-pattern>
<!-- 		<url-pattern>/*</url-pattern> -->
		
		
    </web-resource-collection>
    <user-data-constraint>
        <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
</security-constraint>
</web-app>